.customerReview {
    position: relative;
    width: 16rem;
    height: 25rem;
    padding: 0;

    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    text-align: center;

    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    transform: translateZ(0);

    margin: auto;
}

.customerReviewInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}

.customerPotrait {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Do a horizontal flip when you move the mouse over the flip box container */
.customerReview:hover .customerReviewInner {
    transform: rotateY(180deg) translateZ(0);
}

.customerReviewFront, .customerReviewBack {
    position: absolute;
    width: 100%;
    height: 100%;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.customerReviewFront {
    border: 10px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.frameContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.customerPotraitFrame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.36);
}

.customerReviewBack {
    border: 10px solid rgb(72, 18, 18);
    border-radius: 5px;
    background-color: #9DBFC1;
    transform: rotateY(180deg);
    padding: 1rem;
    box-sizing: border-box;
}