.slideShow {
    width: 100%;
}

.slide {
    background-size: cover;
    background-position: center;
    height: 50rem;
    position: relative;
}

.slideContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
}

.slideOne {
    background-image: url('../../assets/test_tacos.jpg');
}

.slideTwo {
    background-image: url('../../assets/test_carousel_one.jpg');
}

.slideThree {
    background-image: url('../../assets/test_carousel_two.jpg');
}

.slideFour {
    background-image: url('../../assets/test_carousel_three.jpg');
}