.slideShow {
    width: 100%;
}

.slide {
    background-size: cover;
    background-position: center;
    height: 50rem;
    position: relative;

    text-shadow: 
        -2.7px -2.7px 0 #000, 
        2.7px -2.7px 0 #000, 
        -2.7px 2.7px 0 #000, 
        2.7px 2.7px 0 #000,
        0px 3.5px 0 #000,
        0px -3.5px 0 #000,
        3.5px 0px 0 #000,
        -3.5px 0px 0 #000;
}

.customArrow {
    width: 5rem;
    height: 5rem;
    border-radius: 50% 50% 50% 50%;
    background: rgba(157, 191, 193, 0.7);
    border: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-out;

    -webkit-tap-highlight-color: transparent; /* Removes blue highligh background when tapping (mobile) on the custom arrow */
}

.customArrow:hover {
    transform: translate(-50%, -50%) scale(1.1);
    background: rgba(157, 191, 193, 1);
}

.customArrow:focus {
    outline: none;
    box-shadow: none;
}

.customPrevArrow {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.customNextArrow {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.customArrowIcon {
    color: white;
    font-size: 5rem;
    position: absolute;
    top: -10px;
}

.slideContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
}

/* Best tacos in town */
.slideOne {
    background-image: url('../../assets/ddh_three_tacos.jpg');
}

/* Great time with family and friends */
.slideTwo {
    background-image: url('../../assets/ddh_fajitas.jpg');
}

/* Authentic Mexican Food */
.slideThree {
    background-image: url('../../assets/ddh_burrito.jpg');
}

/* Refreshing drinks */
.slideFour {
    background-image: url('../../assets/test_carousel_three.jpg');
}

.slideButton {
    text-shadow: none;
}

/* --- Media Queries --- */
@media screen and (max-width: 70rem) {

}

@media screen and (max-width: 50rem) {
    /* Best tacos in town */
    .slideOne {
        background-image: url('../../assets/ddh_single_taco_two_jarritos.jpg');
    }

    /* Great time with family and friends */
    .slideTwo {
        background-image: url('../../assets/ddh_quesadilla_and_beer.jpg');
    }

    .customArrow {
        width: 4rem;
        height: 4rem;
    }

    .customArrowIcon {
        font-size: 4rem;
    }

    .customPrevArrow {
        top: 57%;
        left: 38px;
    }
    
    .customNextArrow {
        top: 57%;
        right: -25px;
    }
}