.learnMorePicture {
    width: 100%;
    /* max-width: 25rem; */
    height: 25rem;
    
    background-size: cover;
    /* margin: 1rem; */

    /* Shadow effect */
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

    /* Center title */
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    transition: all 0.3s;
}

.learnMorePicture:hover {
    transform: scale(1.05);
    cursor: pointer;

    /* Shadow effect */
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}   

.learnMorePictureTitle {
    color: white;
}

/* --- Media Queries --- */
@media screen and (max-width: 70rem) {
    .learnMorePicture {
        width: 43vw;
        height: 43vw;
    }
}

@media screen and (max-width: 50rem) {
    .learnMorePicture{
        /* Shadow effect */
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
}