.learnMorePicture {
    width: 25rem;
    height: 25rem;
    background-size: cover;

    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

    display: flex;
    justify-content: center;
    align-items: center;
}

.learnMorePictureTitle {
    color: white;
}