.navBar {
    position: fixed;
    z-index: 10;
}

.banner {
    background-image: url('../assets/test_restaurant.webp');
    height: 35rem;
    position: relative;
}

.aboutTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.aboutUsContentContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #9DBFC1;
    padding: 2rem;
}

.famPhotoTitle {
    width: 90%;
    margin: 2rem auto;
}

.familyPhotoContainer {
    width: 90%;
    max-width: 40rem;
    height: fit-content;
    margin: auto;
    border-radius: 10px;

    /* Shadow effect */
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

    /* Child image adjustment */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s;
    box-sizing: border-box;
}

.familyPhotoContainer img {
    flex-shrink: 0;
    width: 100%;
    transition: all 0.3s;
}

.familyPhotoContainer:hover img {
    transform: scale(1.2);
}

.aboutUsTextContainer {
    display: flex;
    align-items: center;
    padding: 2rem;
}

/* --- Media Queries --- */
@media screen and (max-width: 70rem) {
    .aboutUsContentContainer {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }

    .aboutUsTextContainer {
        padding: 1rem;
        width: 100%;
        box-sizing: border-box;
    }

    .contentParagraph {
        width: 100%;
    }
}

@media screen and (max-width: 50rem) {
    
}