.contactUsPage {
    height: fit-content;
}

.navBar {
    position: fixed;
    z-index: 10;
}

.contactUsPageContent {
    padding-top: 8rem;
    background-color: #A56F80;
    height: fit-content;
    position: relative;
}

.contactUsPageContentContainer {
    /* border: 2px solid red; */
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.imageSection {
    position: relative;
}

.imageContainer {
    position: absolute;
    width: 25rem;
    height: 35rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;

    /* Child image adjustment */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    /* Shadow effect */
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.imageContainer img {
    flex-shrink: 0;
    width: 100%;
}

.imageContainerMobileSection {
    display: none;
}

.imageContainerMobile {
    width: 80vw;
    height: 100vw;
    border-radius: 15px;

    /* Child image adjustment */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    /* Shadow effect */
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.imageContainerMobile img {
    flex-shrink: 0;
    width: 100%;
}



/* ###################################### */
/* ############ CONTACT FORM ############ */
/* ###################################### */
.contactUsTitle {
    width: max-content;
    color: white;
}

.formSection {
    /* border: 2px solid blue; */
}

.formContainer {
    /* border: 2px solid green; */
    text-align: left;
    color: white;
    font-size: 1.5rem;
}

.nameContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.fullSizeInput {
    width: 95%;
    height: 2rem;
    font-size: 1.5rem;

    background-color: #A56F80;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.inputSection {
    display: block;
    margin: 1rem 0;
}

.messageTextArea {
    font-size: 1.5rem;
    width: 95%;
    height: 7rem;

    background-color: #A56F80;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

/* Stickers */
.stickerOne {
    width: 15%;
    position: absolute;
    top: 13rem;
    right: 0;
}

/* Stickers */
.stickerTwo {
    width: 18%;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

/* --- Media Queries --- */
@media screen and (max-width: 70rem) {
    .contactUsPageContentContainer {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .imageSection {
        display: none;
    }

    .imageContainerMobileSection {
        display: block;
    }

    .fullSizeInput {
        width: 90%;
    }

    .stickerOne {
        display: none;
    }

    .stickerTwo {
        display: none;
    }
}

@media screen and (max-width: 40rem) {
    
}