/* ############################ */
/* ########## BANNER ########## */
/* ############################ */
.upperBanner {
    width: 100vw;
    height: 100vh;
    position: relative;
    /* background-image: url('../assets/test_tacos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

.bannerVideo {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.bannerVideoContent {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 60%;
    -webkit-filter: blur(3px);
}

.bannerLogo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 40rem;
}

.navBar {
    height: 0;
    width: 100%;
    margin-top: -8rem;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 10;
}

.lowerBanner {
    content: '';
    background-image: url('../assets/two_tequila_bottles.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
    width: 100%;
    height: 65rem;

    position: relative;
}

.custom_shape_divider_bottom_1722811643 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom_shape_divider_bottom_1722811643 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 107px;
}

.custom_shape_divider_bottom_1722811643 .shape_fill {
    fill: #9DBFC1;
    
}

/* --- Media Queries --- */
@media screen and (max-width: 70rem) {
    
}

@media screen and (max-width: 50rem) {

}

/* ############################### */
/* ########## FIRST CTA ########## */
/* ############################### */
.firstCTA {
    background-color: #9DBFC1;
    padding: 0rem 0 8.8rem 0;
    width: 100%;
    height: fit-content;
    position: relative;

    /* display: none; */
}

.firstCTALogoContainer {
    width: 24rem;
    height: 15rem;
    display: block;
    margin: 0 auto;

    overflow: hidden; /* Ensure content outside the container is hidden */
    position: relative;
}

.firstCTALogoContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container */
    object-position: center; /* Centers the image within the container */
}

.firstCTAHeading {
    width: 52rem;
    margin: 2rem auto;
}

.windowPictureContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-items: center;
    margin: auto;
}

.firstCTAButton {
    margin: 2rem;
}

.custom_shape_divider_bottom_1722894654 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom_shape_divider_bottom_1722894654 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 173px;
}

.custom_shape_divider_bottom_1722894654 .shape_fill {
    fill: #A56F80;
}


/* --- Media Queries --- */
@media screen and (max-width: 70rem) {

}

@media screen and (max-width: 50rem) {
    .firstCTAHeading {
        width: 100%;
    }

    .windowPictureContainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        width: 100%;
    } 
}

/* ################################################ */
/* ########## LEARN MORE PICTURE SECTION ########## */
/* ################################################ */
.learnMorePicturesSection {
    background-color: #A56F80;
    padding: 3rem 0;
    position: relative;

    /* display: none; */
}

.learnMorePicturesContainer {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: fit-content;
    gap: 2rem;
}

.learnMorePictureOne {
    grid-column: 1 / 2;
    border-radius: 50% 0 0 50%;
}

.learnMorePictureTwo {
    grid-column: 2 / 3;
    border-radius: 0 50% 0 0;
}

.learnMorePictureThree {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-radius: 0 0 0 50%;
}

.learnMorePictureFour {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border-radius: 0 50% 50% 0;
}

.spinningPlateOne {
    width: 33%;
    position: absolute;
    top: 8rem;
    right: 1rem;
    animation: spinOne 80s linear infinite;
}

.spinningPlateTwo {
    width: 33%;
    position: absolute;
    top: 37rem;
    left: 1rem;
    transform: rotate(25deg);
    animation: spinTwo 80s linear infinite;
}

@keyframes spinOne {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@keyframes spinTwo {
    0% {
        transform: rotate(25deg);
    }
    100% {
        transform: rotate(-385deg);
    }
}


/* --- Media Queries --- */
@media screen and (max-width: 70rem) {
    .learnMorePicturesContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .learnMorePictureOne {
        grid-column: 1 / 2;
        border-radius: 50% 0 0 50%;
    }
    
    .learnMorePictureTwo {
        grid-column: 2 / 3;
        border-radius: 0 50% 0 0;
    }
    
    .learnMorePictureThree {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        border-radius: 0 0 0 50%;
    }
    
    .learnMorePictureFour {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        border-radius: 0 50% 50% 0;
    }

    .spinningPlateOne {
        display: none;
    }
    
    .spinningPlateTwo {
        display: none;
    }
}

@media screen and (max-width: 50rem) {
    .learnMorePicturesContainer {
        width: 100%;
        gap: 0rem;
    }
}

/* ######################################## */
/* ########## SECOND CTA SECTION ########## */
/* ######################################## */

/* ###################################### */
/* ########## THIRD PARTY APPS ########## */
/* ###################################### */
.deliveryAvailableSection {
    text-align: center;
    padding: 2rem 0;
    background-color: #9DBFC1;
    /* color: white; */
}

.deliveryAvailableContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    width: 70%;
    margin: auto;
}

.deliveryAvailableSectionDD {
    width: 100%;
}

.deliveryAvailableSectionUE {
    width: 65%;
}

@media screen and (max-width: 65rem) {
    .deliveryAvailableContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        width: 80%;
        margin: auto;
    }   
}

@media screen and (max-width: 45rem) {
    .deliveryAvailableContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        width: 90%;
        margin: auto;
    }
    
}

/* ############################################## */
/* ########## CUSTOMER REVIEWS SECTION ########## */
/* ############################################## */

.customerReviewsSection {
    border-top: 2px solid white;
    background-color: #A56F80;
    width: 100%;
    position: relative;
    padding: 1rem 0 8rem 0;
}

.reviewsTitle {
    color: white;
}

.customerReviewsContainer {
    margin: 0 auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    justify-items: center;
}

.customerReviewsContainerCarousel {
    margin-top: 3rem;
    display: none;
}

/* Curved divider */
.custom_shape_divider_bottom_1723407545 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom_shape_divider_bottom_1723407545 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
}

.custom_shape_divider_bottom_1723407545 .shape_fill {
    fill: #9DBFC1;
}


/* --- Media Queries --- */
@media screen and (max-width: 70rem) {
    .customerReviewsContainer {
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
        gap: 2rem;
    }
}

@media screen and (max-width: 40rem) {
    .customerReviewsContainer {
        display: none;
    }

    .customerReviewsContainerCarousel {
        display: block;
    }
}


