/* ############################ */
/* ########## BANNER ########## */
/* ############################ */
.upperBanner {
    width: 100vw;
    height: 41rem;
    background-image: url('../assets/test_tacos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navBar {
    /* background: blue; */
    height: 0;
    width: 100%;;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 10000;
}

.lowerBanner {
    background-image: url('../assets/two_tequila_bottles.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;

    position: relative;
}

.custom_shape_divider_bottom_1722811643 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom_shape_divider_bottom_1722811643 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 107px;
}

.custom_shape_divider_bottom_1722811643 .shape_fill {
    fill: #9DBFC1;
    
}

/* ############################### */
/* ########## FIRST CTA ########## */
/* ############################### */
.firstCTA {
    background-color: #9DBFC1;
    padding: 0rem 0 6rem 0;
    width: 100%;
    height: fit-content;
    position: relative;
}

.firstCTALogoContainer {
    width: 24rem;
    height: 15rem;
    display: block;
    margin: 0 auto;

    overflow: hidden; /* Ensure content outside the container is hidden */
    position: relative;
}

.firstCTALogoContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container */
    object-position: center; /* Centers the image within the container */
}

.firstCTAHeading {
    width: 45rem;
    margin: 2rem auto;
}

.windowPictureContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.firstCTAButton {
    margin: 2rem;
}

.custom_shape_divider_bottom_1722894654 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom_shape_divider_bottom_1722894654 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 173px;
}

.custom_shape_divider_bottom_1722894654 .shape_fill {
    fill: #A56F80;
}

/* ################################################ */
/* ########## LEARN MORE PICTURE SECTION ########## */
/* ################################################ */
.learnMorePicturesSection {
    background-color: #A56F80;
    padding: 3rem 0;
}

.learnMorePicturesContainer {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    gap: 2rem;
}

.learnMorePictureOne {
    grid-column: 1 / 2;
    border-radius: 50% 0 0 50%;
}

.learnMorePictureTwo {
    grid-column: 2 / 3;
    border-radius: 0 50% 0 0;
}

.learnMorePictureThree {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-radius: 0 0 0 50%;
}

.learnMorePictureFour {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border-radius: 0 50% 50% 0;
}

/* ######################################## */
/* ########## SECOND CTA SECTION ########## */
/* ######################################## */

/* ############################################## */
/* ########## CUSTOMER REVIEWS SECTION ########## */
/* ############################################## */

.customerReviewsSection {
    border-top: 2px solid white;
    background-color: #A56F80;
    width: 100%;
    padding: 5rem 0;
    position: relative;
    padding-bottom: 8rem;
}

.customerReviewsContainer {
    margin: 0 auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

/* Curved divider */
.custom_shape_divider_bottom_1723407545 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom_shape_divider_bottom_1723407545 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
}

.custom_shape_divider_bottom_1723407545 .shape_fill {
    fill: #9DBFC1;
}


