.navBar {
    position: fixed;
    z-index: 10;
}

.menuPage {
    background-color: black;
}

.ghostSpace {
    content: '';
    height: 7rem;
}

.menuPageTitle {
    color: white;
}

.menuPageContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 0 2rem 2rem 2rem;
    box-sizing: border-box;
}

.singleMenuPage {
    width: 100%;
    max-width: 85rem;
    margin: auto;
}

/* --- Media Queries --- */
@media screen and (max-width: 70rem) {
    .menuPageContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 40rem) {
    
}