.welcomeScreenMobile {
    width: 100vw;
    height: 100vh;
    position: fixed; /* Stay in place */
    z-index: 30; /* Sit on top */
    left: 0;
    top: 0;
    background-image: url('../../assets/welcome_screen_background.png');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    overflow-x: hidden; /* Disable horizontal scroll */
}
  
.blurredScreen {
    position: relative;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);

    opacity: 0; /* Start hidden */
    animation: fadeIn 0.75s ease-in-out 0.75s forwards;
}

.Logo {
    width: 80%;
    position: relative;
    top: 22rem;
    left: 40%;
    transform: translate(-50%, -50%);

    opacity: 0;

    animation: fadeIn 0.75s ease-in 0.75s forwards, moveUp 1s ease-in-out 1.75s forwards;
}

.optionsContainer {
    position: relative;
    top: 2rem;

    opacity: 0;
    animation: fadeIn 0.5s ease-in 2.05s forwards;
}

.navLink {
    font-weight: 600;
    color: #9DBFC1;
    text-shadow: 
        -2.7px -2.7px 0 #000, 
        2.7px -2.7px 0 #000, 
        -2.7px 2.7px 0 #000, 
        2.7px 2.7px 0 #000,
        0px 3.5px 0 #000,
        0px -3.5px 0 #000,
        3.5px 0px 0 #000,
        -3.5px 0px 0 #000;

    text-decoration: none;
    font-size: 2.5rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes moveUp {
    from {
        top: 22rem;
    }

    to {
        top: 9rem;
    }
}

@media screen and (min-width: 50rem) {
    .welcomeScreenMobile {
        display: none;
    }
}