.navBarMobile {
    display: none;
}

.navBarDesktop {
    display: block;
}

/* --- Media Queries --- */
@media screen and (max-width: 70rem) {
    .navBarDesktop {
        display: none;
    }

    .navBarMobile {
        display: block;
    }
}

@media screen and (max-width: 50rem) {
    
}